*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url("https://picsum.photos/1920/1080");
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn {
   width: 20px;
   height: 20px; 
}

.main {
    border: 1px solid #0000;
    background-color: aliceblue;
    opacity: 0.6 ;
    border-radius: 10px;
    padding: 15px;
}

input {
    border: none;
    outline: none;
    font-size: 20px;
    background-color: whitesmoke;
    color: black;
    padding: 5px;
    border-radius: 10px;
    width: 90%;
}

button {
    float: right;
    cursor: pointer;
}

h1 {
    margin-bottom: 15px;
}

.box-media {
    margin-top: 10px;
}

h2 {
    margin-top: 10px;
}

.box-pequena {
    display: flex;
    align-items: center;
}

p {
    margin-top: 10px;
}